[Desktop Entry]
Type=Application
Terminal=false
Name=KiteMonitor
Icon=/home/sam/sketchbook/kite/icon.svg
Exec=/usr/bin/gnome-terminal --window-with-profile=kitemon --geometry=124x20 -e "bash -l -c /home/sam/sketchbook/kite/kitemonitor"
